*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, rgb(88, 25, 25), #9932b3);
  padding: 3rem;
}

.todo-app {
  width: 100%;
  max-width: 40rem;
  background: #c7c5c7;
  margin: 100px auto 20px;
  border-radius: 1rem;
  padding: 40px 30px 70px;
}

.todo-app h1{
  color:#9517b4;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.todo-app h1 img{
  width: 3.5rem;
  margin-left: 1rem;
}

.row{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #e3caeb;
  border-radius: 1.5rem;
  padding-left: 1rem;
  margin-bottom: 2rem;
}

input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 0.9rem;
}

button.add-button {
  border: none;
  outline: none;
  padding: 16px 50px;
  background: #9517b4;
  color: #fff;
  font-size: 1.1rem;
  cursor: pointer;
  border-radius: 40px;
}

ul li {
  list-style: none;
  font-size: 20px;
  padding: 12px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
  position: relative;
  color: black;
}

ul li::before {
content: '';
position: absolute;
height: 28px;
width: 28px;
border-radius: 50%;
background-image: url(./noun-circle-6320926.png);
background-size: cover;
background-position: center;
top: 12px;
left: 8px;
}

ul li.checked {
  color: #5c5b5b;
  text-decoration: line-through;
}

ul li.checked::before {
  background-image: url(./noun-check-mark-1543065.png);
}

ul li span {
  position: absolute;
  right: 0rem;
  top: 5px;
  width: 2rem;
  height: 2rem;
  font-size: 22px;
  color: #5c5b5b;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
}


ul li span:hover {
  background: #b2b3b4
}


#empty-state {
  margin: 10px 0px 10px 0px;
  padding: 20px;
  background-color: #9517b4;
  text-align: center;
  font-size: 20px;
  color: white;
  border-radius: 15px;
}

#empty-state.hiding {
  display: none;
}

